#container {
  border:2px solid black;
  width:100%;
  height:600px;
}
#config {
  border:1px solid black;
  width:100%;
  height:50px;
}
#jogo {
  border:1px solid black;
  width:100%;
  height:500px;
  display:flex;
  justify-content:center;
  align-content:center;
  flex-flow:wrap;
}
#saida {
  border:1px solid black;
  width:100%;
  height:44px;
}
.box {
  border:1px solid blue;
  width:80px;
  height:80px;
  display:flex;
  justify-content:center;
  align-content:center;
}
